{% extends "core/layout.html" %} 
{% block title %}Cart{% endblock %}
{% block content %}
<div class="max-w-6xl mx-auto flex flex-col lg:flex-row gap-5 items-start py-6 px-6 xl:px-0 text-gray-700">
	<div class="flex flex-col w-full">

	<h1 class="mb-5 text-2xl uppercase font-semibold">Shopping Cart</h1>

	{% if cart %}
		<div class="products w-full lg:w-3/3 w-full">
			{% for item in cart %}
				{% include 'cart/partials/cart_item.html' %}
			{% endfor %}
		</div>
	{% else %}
	<div>Nothing in cart. Go to <a class="underline" href="{% url 'store' %}">store</a> to add items.</div>
	{% endif %}
	</div>

	<div class="summary w-full lg:w-1/3 rounded lg:sticky lg:top-14">
		<h2 class="uppercase text-lg mb-5">Summary</h2>

		<div class="mb-3 flex justify-between">
			<span class="">Subtotal</span>
			<span
        hx-get="{% url 'hx_cart_subtotal' %}"
        hx-trigger="update-menu-cart from:body"
        hx-swap="innerHTML"
      >
			{% include 'cart/partials/cart_subtotal.html' %}
			</span>
		</div>

		<div class="mb-3 flex justify-between">
			<span class="">Tax</span>
			<span
        hx-get="{% url 'hx_cart_tax' %}"
        hx-trigger="update-menu-cart from:body"
        hx-swap="innerHTML"
      >
			{% include 'cart/partials/cart_tax.html' %}
			</span>
		</div>

		<div class="mb-3 flex justify-between">
			<span class="">Shipping</span>
			<span
        hx-get="{% url 'hx_cart_tax' %}"
        hx-trigger="update-menu-cart from:body"
        hx-swap="innerHTML"
      >
			Free
			</span>
		</div>

		<div class="mb-6 flex justify-between text-lg">
			<span class="font-bold">Total</span>
			<span
        hx-get="{% url 'hx_cart_total' %}"
        hx-trigger="update-menu-cart from:body"
        hx-swap="innerHTML"
      >
			{% include 'cart/partials/cart_total.html' %}
			<!-- {% include 'cart/partials/cart_subtotal.html' %} -->
			</span>
		</div>

		<hr>

		<a href="{% url 'checkout' %}" class="inline-block flex justify-center my-5 px-8 py-4 rounded bg-emerald-400 md:hover:bg-emerald-500 font-semibold uppercase text-white group">
			<div class="flex gap-2">
				<div class="md:group-hover:scale-[110%] transition-all duration-300">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
					</svg>
				</div>

				<div>
					Order Checkout
				</div>
			</div>
		</a>


	</div>
</div>
{% endblock %}