<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | GreyMatter</title>
  </head>

  <body>
    <nav class="border-b border-neutral-300">
      <div
        class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between"
      >
        <div class="menu-left flex items-center space-x-6">
          <a href="{% url 'layout' %}" class="text-lg font-semibold text-neutral-500"
            >GreyMatter</a
          >

          <ul class="flex items-center space-x-4">
            <li>
              <a
                href="{% url 'shop' %}"
                class="text-neutral-500 hover:text-neutral-800"
                >Shop</a
              >
            </li>
            <li>
              <a href="#" class="text-neutral-500 hover:text-neutral-800"
                >About</a
              >
            </li>

            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'logout' %}" class="text-neutral-500 hover:text-neutral-800">Logout</a>
            </li>

            {% endif %}


          </ul>
        </div>

        <div class="menu-right flex items-center space-x-4">
          <a href="{% url 'myaccount' %}">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </a>

          <div
            hx-get="{% url 'hx_menu_cart' %}"
            hx-trigger="update-menu-cart from:body"
            hx-swap="innerHTML"
          >
            {% include "cart/menu_cart.html" %}
          </div>


        </div>
      </div>
    </nav>

    <main>{% block content %} {% endblock %}</main>
    <footer class="bg-neutral-100">
      <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
        <div class="footer-left mb-12 md:mb-0">
          <h2 class="mb-5 uppercase text-lg">About Us</h2>
          <p class="text-neutral-600">
            A simple, lightweight, and fast PHP framework.
          </p>
        </div>

        <div class="footer-right">
          <h2 class="mb-5 uppercase text-lg">Social Links</h2>
          <ul class="space-y-2">
            <li>
              <a href="#" class="text-neutral-500 hover:text-neutral-800"
                >Facebook</a
              >
            </li>
            <li>
              <a href="#" class="text-neutral-500 hover:text-neutral-800"
                >Twitter</a
              >
            </li>
            <li>
              <a href="#" class="text-neutral-500 hover:text-neutral-800"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </body>
</html>
