
{% extends "core/layout.html" %} 
{% block title %}My Account{% endblock %}
{% block content %}


<div class="max-w-6xl mx-auto p-6">
	<h1 class="mb-5 text-3xl">My Account</h1>

	<div class="mb-6">
		<strong>Name: </strong>{{ request.user.get_full_name}}<br>
		<strong>Username: </strong>{{ request.user.username}}<br>
		<strong>Email: </strong>{{ request.user.email}}<br>

		<a href="{% url 'edit_myaccount' %}" class="mt-3 inline-block px-4 py-2 rounded bg-purple-500 hover:bg-purple-700 text-white">Edit Account</a>	

	</div>

	<hr>

	<h2 class="my-6 text-xl">My Orders:</h2>

	<div class="w-full mb-6 p-6 flex flex-wrap bg-neutral-100 rounded">
		<div class="mb-6 flex justify-between">
			<a href="#" class="">Order id: 1</a>
		</div>

		<div class="mb-6 w-full">
			<div class="product mb-6 flex pr-6">
				<a href="#" class="w-1/4">
					<img src="1.jpg" alt="" class="hover:shadow-lg rounded">
				</a>

				<div class="w-3/4 pl-6">
					<div class="flex justify-between">
						<a href="#" class="text-lg">Product name</a>
						<span class=" pt-1 text-neutral-400">$100</span>
					</div>


					<div class="mb-6">
						Quantity: 1
					</div>

					<hr>
				</div>
			</div>


			<div class="product mb-6 flex pr-6">
				<a href="#" class="w-1/4">
					<img src="1.jpg" alt="" class="hover:shadow-lg rounded">
				</a>

				<div class="w-3/4 pl-6">
					<div class="flex justify-between">
						<a href="#" class="text-lg">Product name</a>
						<span class=" pt-1 text-neutral-400">$100</span>
					</div>

					<div class="mb-6">
						Quantity: 1
					</div>

					<hr>
				</div>
			</div>


			<div class="product mb-6 flex pr-6">
				<a href="#" class="w-1/4">
					<img src="1.jpg" alt="" class="hover:shadow-lg rounded">
				</a>

				<div class="w-3/4 pl-6">
					<div class="flex justify-between">
						<a href="#" class="text-lg">Product name</a>
						<span class=" pt-1 text-neutral-400">$100</span>
					</div>

					<div class="mb-6">
						Quantity: 1
					</div>

					<hr>
				</div>
			</div>



			<div class="product mb-6 flex pr-6">
				<a href="#" class="w-1/4">
					<img src="1.jpg" alt="" class="hover:shadow-lg rounded">
				</a>

				<div class="w-3/4 pl-6">
					<div class="flex justify-between">
						<a href="#" class="text-lg">Product name</a>
						<span class=" pt-1 text-neutral-400">$100</span>
					</div>

					<div class="mb-6">
						Quantity: 1
					</div>

					<hr>
				</div>
			</div>

			<div class="flex justify-end">

				<div class="flex flex-col">
					<div class="text-lg">
						Date: 04.04.2023
					</div>
					<div class="text-lg">
						Total: $199
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}