
{% extends "core/layout.html" %} 
{% block title %}Store{% endblock %}
{% block content %}

<div class="max-w-3xl mx-auto min-h-screen flex flex-wrap items-start py-6 px-6 xl:px-0">
	<div class="text-2xl">About Us</div>
    <p>Welcome to <strong>Grey Matter Extracts</strong>, your trusted source for premium CBD products designed to enhance your well-being and elevate your self-care routine. At Grey Matter, we are driven by a passion for natural wellness and a commitment to purity and simplicity.</p>

    <h2 class="text-xl mt-5">Our Mission</h2>
    <p>Our mission is simple - to provide you with the highest quality CBD products on the market. We believe in the power of nature and the potential benefits of CBD, and we're dedicated to harnessing these qualities to improve your life.</p>

    <h2 class="text-xl mt-5">Why Choose Us?</h2>

		<ul class="pl-10 list-disc">
        <li><strong>Quality Assurance:</strong> We believe that quality is non-negotiable. That's why we source our CBD from trusted, sustainable suppliers, and employ rigorous testing to ensure that every product meets our uncompromising standards.</li>
        <li><strong>Purity:</strong> Our CBD products contain only the purest, premium-grade CBD extracts, with no artificial additives or fillers. We're committed to transparency and providing you with products that you can trust.</li>
        <li><strong>Innovation:</strong> Our team of experts is always at the forefront of CBD research and development. We continuously seek new ways to enhance our products and provide you with the latest advancements in CBD wellness.</li>
        <li><strong>Customer-Centric:</strong> Your satisfaction is our top priority. We're here to answer your questions, provide guidance on product selection, and ensure your overall experience with Grey Matter Extracts is exceptional.</li>
    </ul>

    <h2 class="text-xl mt-5">Our Commitment to Sustainability</h2>
    <p>We care about our planet as much as we care about your well-being. Grey Matter Extracts is committed to sustainability in every aspect of our operations, from responsible sourcing to eco-friendly packaging. We strive to minimize our environmental footprint and contribute to a greener, healthier world.</p>

    <h2 class="text-xl mt-5">Join Us on Your Wellness Journey</h2>
    <p>At <strong>Grey Matter Extracts</strong>, we invite you to embark on a wellness journey guided by nature's purity and the potential of CBD. Explore our range of premium products, each designed to enhance your well-being and bring balance to your life. Whether you're seeking relaxation, relief, or rejuvenation, we're here to support you every step of the way.</p>

    <p>Thank you for choosing Grey Matter Extracts as your partner in wellness. We look forward to being a part of your journey toward a healthier, more balanced you.</p>


		<div class="flex flex-col relative my-10">
			<img src="/media/uploads/signature.png" class="w-52" alt="">
			<p class="">Josh Chadwick</p>
			<p class="text-sm text-gray-500">Founder</p>
		</div>

</div>
</div>




{% endblock %}

