{% extends "core/layout.html" %} 

{% block title %}Welcome{% endblock %}



{% block content %}

<head>
  <style>
    /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  </style>
</head>


<header class="px-6 py-10 lg:py-20 bg-gradient-to-b to-white from-gray-700">
  <div class="max-w-3xl mx-auto text-center">
    <div class="flex justify-center">
      <img class="object-cover w-24 h-24 sm:w-32 sm:h-32 rounded-full border border-[1.25px] border-white shadow-lg mb-2 opacity-50" src="/media/uploads/gme-head-logo-white.png" alt="">
    </div>
    <p class="mb-2 text-3xl md:text-5xl lg:text-7xl text-white drop-shadow font-semibold tracking-tight">Grey Matter Extracts</p>
    <p class="mb-5 text-lg md:text-3xl text-white drop-shadow">
      Handcrafted, simple, CBD products.
    </p>

    <a
      href="{% url 'store' %}"
      class="inline-block px-8 py-4 rounded bg-purple-500 text-white md:hover:bg-purple-600 transition-all duration-200 font-semibold uppercase group"
    >
      <div class="flex gap-2 items-center justify-center">
        <div class="md:group-active:animate-ping md:group-hover:scale-[110%] transition-all duration-200">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>
        </div>
        <div>
          Start Shopping
        </div>
      </div>
    </a>
  </div>
</header>



<div class="max-w-6xl mx-auto py-2 sm:px-6 px-2 xl:px-0 my-5">
  <div class="hidden products sm:grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 items-center ">
    <!-- <div class="example flex sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 overflow-auto gap-2"> -->
     {% for product in products %} 
      {% include 'product/partials/product_list_item.html' %} 
    {% endfor %}
  </div>

  <!-- <div class="sm:hidden products sm:grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 items-center "> -->
    <div class="example sm:hidden flex sm:grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 overflow-auto gap-2">
     {% for product in products %} 
      {% include 'product/partials/product_scroll_item.html' %} 
    {% endfor %}
  </div>



</div>

<!-- <div>
  <div class="flex overflow-auto sm:grid-cols-3 gap-2 my-5 max-w-6xl mx-auto">
    <div class="bg-red-200  h-80 w-full border border-gray-200 shadow">
      <div class="w-80">hello</div>
    </div>

    <div class="bg-red-200  h-80 w-full border border-gray-200 shadow">
      <div class="w-80">hello</div>
    </div>


    <div class="bg-red-200  h-80 w-full border border-gray-200 shadow">
      <div class="w-80">hello</div>
    </div>

    <div class="bg-red-200  h-80 w-full border border-gray-200 shadow">
      <div class="w-80">hello</div>
    </div>
  </div>
</div> -->




<div class="max-w-6xl mx-auto border border-gray-200 shadow p-6 rounded my-10 sm:my-20 mb-32 sm:mb-40">
  <div class="flex flex-col sm:flex-row gap-5">
    <div class="flex flex-col gap-5 items-center sm:items-start w-full max-w-lg">
      <div class="w-full text-xl lg:text-2xl font-thin"><strong>Grey Matter Extracts</strong> is leading the way in innovating pure CBD products. Specializing in minimal, scientifically crafted wellness solutions, without the gimmicks.</div>


      <div class="flex flex-col sm:flex-row w-full gap-2 items-center">
        <a href="{% url 'about' %}" class="inline-block px-8 py-4 rounded bg-purple-500 text-white md:hover:bg-purple-600 transition-all duration-200 font-semibold uppercase group w-full flex justify-center">
          <div class="flex gap-2 items-center">
            <div class="md:group-hover:scale-[110%] transition-scale duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 01.75-.75h3a.75.75 0 01.75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349m-16.5 11.65V9.35m0 0a3.001 3.001 0 003.75-.615A2.993 2.993 0 009.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 002.25 1.016c.896 0 1.7-.393 2.25-1.016a3.001 3.001 0 003.75.614m-16.5 0a3.004 3.004 0 01-.621-4.72L4.318 3.44A1.5 1.5 0 015.378 3h13.243a1.5 1.5 0 011.06.44l1.19 1.189a3 3 0 01-.621 4.72m-13.5 8.65h3.75a.75.75 0 00.75-.75V13.5a.75.75 0 00-.75-.75H6.75a.75.75 0 00-.75.75v3.75c0 .415.336.75.75.75z" />
              </svg>
            </div>
            <div>About</div>
          </div>
        </a>

        <a href="mailto:greymatterextracts@gmail.com" class="inline-block px-8 py-4 rounded bg-purple-500 text-white md:hover:bg-purple-600 transition-all duration-200 font-semibold uppercase group w-full flex justify-center">
          <div class="flex gap-2 items-center">
            <div class="md:group-hover:scale-[110%] transition-scale duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
              </svg>
            </div>
            <div>Contact</div>
          </div>
        </a>
      </div>



    </div>
    <div class="h-72 w-full">
      <img class="object-cover h-96 w-full rounded shadow-lg saturate-0 contrast-125" src="https://images.unsplash.com/photo-1573461160327-b450ce3d8e7f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGNiZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
    </div>
  </div>
</div>





{% endblock %}


