{% extends "core/layout.html" %} 
{% block title %}Login{% endblock %}
{% block content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
  <div class="w-full bg-gray-100 p-5 rounded shadow">
    <h1 class="mb-6 text-2xl">Login</h1>


    <form method="post" action="." class="space-y-3">
      {% csrf_token %}
      <div>
        <label for="">Username</label>
        <input 
          type="text" 
          name="username" 
          class="w-full mt-2 p-2 bg-white rounded focus:border-none focus:outline focus:outline-1 focus:outline-gray-500"
        />
      </div>
      <div>
        <label for="">Password</label>
        <input
          type="password"
          name="password"
          class="w-full mt-2 p-2 bg-white rounded focus:border-none focus:outline focus:outline-1 focus:outline-gray-500"
        />
      </div>


      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded">
              <p>{{ error|escape }}</p>
            </div>
          {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
          <div class="p-6 bg-red-200 text-red-800 rounded">
            <p>{{ error|escape }}</p>
          </div>
        {% endfor %}
      {% endif %}


      <div class="flex flex-col items-center">
        <button
          class="w-full py-4 px-6 rounded text-white bg-purple-500 hover:bg-purple-600 font-semibold uppercase group"
        >
          <div class="flex gap-2 justify-center">
            <div class="md:group-hover:scale-[110%] md:group-active:animate-bounce transition-all duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
              </svg>
            </div>

            <div>
              Submit
            </div>
          </div>
        </button>
        <p class="text-gray-700 mt-2">Or <a href="{% url 'signup' %}" class="mb-6"><span class="underline">sign up</span></a> to create a new account.</p>
      </div>
    </form>
  </div>
</div>

{% endblock %}
